/* Apply these style all the body of the page */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    overflow-x: hidden; /* Prevent horizontal scrolling on smaller screens */
    animation: transitionIn 2s linear; 
}

/* SEVTION ONE */

/* Apply flex direction and justify content to align items */
.section1 {
    height: 100vh;
    display: flex;
    flex-direction: row-reverse; /* Reverse the order for odd sections */
    justify-content: space-between; /* Align items with space between them */
    align-items: center; /* Align items vertically centered */
    background-color: #011;
    padding: 4% 3%;
}
   
/* Style the image container */
.section1 .image{
    height: 100%;
    flex: 1 0 50%; /* Take up 50% of the container width */
}

/* Style the image inside the container */
.section1 .image img {
    height: 100%;
    max-width: 100%; /* Make sure the image doesn't exceed its container */
}

/* Style the content container */
.section1 .content {
    flex: 0 0 50%; /* Take up 50% of the container width */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

/* Add spacing and styling to improve readability */
.section1 h3, .section1 p {
    margin: 0;
}

/* h3 style */
.section1 h3{
    font-size: 6.4em;
    text-transform: uppercase; /* Capitalize the text */
    font-style: italic; /* Italicize the text */
    line-height: 6rem;
}

.section1 p{
    margin: 3rem 0;
}

.section1 .content .line{
    width: 100%;
    border:  1px solid rgb(135, 129, 129);
    margin: 40px 0 0 -45px;   
}

/* SECTION TWO */

/* Apply flexbox to the parent container */
.section2{
    display: flex;
    flex-direction: column;
}


.section2 .member{
    display: flex;
    flex-direction: row-reverse; /* Reverse the order for odd sections */
    justify-content: space-between; /* Align items with space between them */
    align-items: center; /* Align items vertically centered */
    background-color: #223;
    padding: 4% 3%;
}

.section2 .member:nth-child(odd){
    background-color: #011;
}

.section2 .member .image{
    flex: 0 0 50%; /* Take up 50% of the container width */
}

/* For odd sections, image on the left */
.section2 .member:nth-child(odd) .image {
    order: 1;
}

.section2 .member .image img{
    max-width: 100%;
}

/* Apply style for the whole content */
.section2 .member .content{
    flex: 0 0 30%; /* Take up 50% of the container width */
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    margin: 0 0 0 8%;
    height: 300px;
    justify-content: space-between;
    font-weight: 900;
    word-wrap: break-word;
}

.section2 .member:nth-child(odd) .content{
    margin: 0 8% 0 0;
}

/* Add spacing and styling to improve readability */
.member h3, .member p {
    margin: 0;
}

.section2 .member h3{
    font-size: 3em;
    text-transform: uppercase; /* Capitalize the text */
    font-style: italic; /* Italicize the text */
    line-height: 46px;
}

/* span inside the h3 */
.section1 span, .section2 .member .content span{
    color: gold;
}

.icon{
    margin-top: 40px;
}

.icon > a{
    margin: 25px;
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the color from the parent */
    cursor: pointer; /* Set the cursor style */
}

/* Apply Media query for small screen  */
@media screen and (max-width: 775px) {
    body{
        font-size: 0.8rem;
    }
    .section1{
        flex-direction: column;
        margin: 0;
        padding: 2rem 1.3rem;
    }

    .section1 h3{
        margin:  0;
        font-size: 4.2em;
        line-height: 3.3rem;
        margin-bottom: 4rem;
    }

    .section1 p{
        flex: 1;
        margin-top: -10%;

    }

    .section2 .member .content{
        padding: 0.7rem 0;
        margin: 0;
    }
    .section1 .content{
        padding: 1.3rem 0;
        margin: 0;
    }

    .section2 .member h3{
        line-height: 2.3rem;
        margin: 0.6rem 0;
    }

    .icon{
        margin: 3rem 0 4.5rem 0;
        font-size: 16px;
    }

    .icon > a{
        margin: 2px;
    }
    .section2 .member{
        flex-direction: column;
        padding: 2rem 1.3rem;
    }

    .member:nth-child(odd) {
        flex-direction: column-reverse;
    }

    .member:nth-child(odd) .content{
        margin: 0;
    }    

    .line{
        display: none;
    }
}

/* Animation for the page body */
@keyframes transitionIn  {
    from{
        opacity: 0;
        transform: translateY(-10deg);
    }
    to{
        opacity: 1;
        transform: translateX(0deg);
    }
    
  

