/* Apply these style all the body of the page */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(36, 25, 25);
    color: #fff;
    font-size: 16px;
    overflow-x: hidden; /* Prevent horizontal scrolling on smaller screens */
    animation: transitionIn 2s linear; 
}

/* Apply flexbox to the parent container */
.inner.alt {
    display: flex;
    flex-direction: column;

}

/* Apply flex direction and justify content to align items */
.member {
    display: flex;
    flex-direction: row-reverse; /* Reverse the order for odd sections */
    justify-content: space-between; /* Align items with space between them */
    align-items: center; /* Align items vertically centered */
    background-color: #223;
    padding: 4% 3%;
}

/* Apply style for the whole content */
.content{
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    margin: 0 0 0 8%;
    height: 300px;
    justify-content: space-between;
    font-weight: 900;
    word-wrap: break-word;
}

/* For odd sections, image on the left */
.member:nth-child(odd) .image {
    order: 1;
}

.member:nth-child(odd) .content{
    margin: 0 8% 0 0;
}

.member:nth-child(odd){
    background-color: #011;
}

/* Style the image container */
.member .image {
    flex: 0 0 50%; /* Take up 50% of the container width */
}

/* Style the content container */
.member .content {
    flex: 0 0 30%; /* Take up 50% of the container width */
}

/* Style the image inside the container */
.member .image img {
    max-width: 100%; /* Make sure the image doesn't exceed its container */
}

/* Add spacing and styling to improve readability */
.member h3, .member p {
    margin: 0;
}

/* h3 style */
.member h3{
    font-size: 3em;
    text-transform: uppercase; /* Capitalize the text */
    font-style: italic; /* Italicize the text */
    line-height: 46px;
}
/* span inside the h3 */
h3 span{
    color: gold;
}
/* social media handle style */
.icon{
    margin-top: 40px;
}

.icon > a{
    margin: 25px;
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the color from the parent */
    cursor: pointer; /* Set the cursor style */
}




/* Apply Media query for small screen  */
@media screen and (max-width: 575px) {
    body{
        font-size: 12px;
    }
    .member{
        flex-direction: column;
        margin: 0;
        padding: 30px;
        
    }
    .member h3{
        line-height: 35px;
        margin-bottom: 26px;
    }

    .content{
        padding: 10px 0;
        margin: 0;
    }

    .icon{
        margin: 40px 0 60px 0;
        font-size: 16px;
    }

    .icon > a{
        margin: 2px;
    }

    .member:nth-child(odd) {
        flex-direction: column-reverse;
    }

    .member:nth-child(odd) .content{
        margin: 0;
    }
}

/* Animation for the page body */
@keyframes transitionIn  {
    from{
        opacity: 0;
        transform: translateY(-10deg);
    }
    to{
        opacity: 1;
        transform: translateX(0deg);
    }
    
}
